.display-flex {
    display: flex;
}

.margin-auto {
    margin: auto;
}

.white-color-text {
    color: white;
}

.green-text {
    color: lightgreen;
}

.yellow-text {
    color: #e3c800;
}

.red-text {
    color: #abb7c4;
}

.label-general {
    font-size: 14px;
    color: #abb7c4;
    font-weight: 500;
}

.btn-salir {
    padding: 10px 20px !important;
}

.editar-roles {
    border-left: 1px solid #405266;
}

textarea {
    font-family: Nunito, sans-serif;
    font-size: 12px;
    color: rgb(171, 183, 196);
    font-weight: 300;
    text-transform: none;
    background-color: rgb(35, 58, 80);
    border: none;
    border-radius: 3px !important;
    width: 100%;
    min-height: 100px;
}

input[type="checkbox"] {
    height: 12px
}

.alerta-pelicula {
    font-size: 17px;
    color: indianred;
}

.btn-red, .btn-salir {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: #dd003f;
    width: max-content;
    border-radius: 20px;
    height: 40px;
    border: none;
    padding: inherit;
}

table {
    color: white;
}

th {
    border-top: 1px solid #405266 !important;
    border-bottom: 1px solid #405266;
    color: white;
    text-align: center;
}

td {
    color: white;
    text-align: center;
}

.button-icon-tranparent {
    background-color: transparent;
    border: none;
    padding: 0;
}

.mv-item-infor {
    width: 100%;
}

@media (min-width: 768px) {
    .mv-item-infor .btn-actions-movies {
        justify-content: flex-end;
        display: flex;
    }
}

.yellow-btn, .primary-btn, .blue-btn, .black-btn {
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: max-content;
    border-radius: 8px;
    height: 40px;
    border: none;
    padding: 8px 12px;
}

.yellow-btn {
    color: black;
    background: #e3c800;
}

.black-btn {
    color: white;
    border: 1px solid white;
    background: center;
}

.primary-btn {
    color: white;
    background: #dd003f;
}

.blue-btn{
    color: white;
    background: #4280bf;
}

.margin-bonificacion-btn {
    margin-top: 22px;
}

.screen {
    margin: 40px 0;
    border: solid 13px WHITE;
}


/* .screen {
    background-color: #fff;
    width: 100%;
    height: 300px;
    max-width: 400px;
    margin: auto;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}*/
.seat {
    background-color: #008a00;
    height: 46px;
    width: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0.5px solid grey;
}

.factura-contenedor {
    padding: 50px 134px;
}

.label-user {
    font-size: 14px;
    color: #abb7c4;
}

.asiento-label {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.label-venta-ticket {
    font-size: 18px;
    color: #abb7c4;
    font-weight: 500;
}

.seat.ocupada {
    color: white;
    background-color: #e51400;
}

.seat.seleccionada {
    background-color: #e3c800;
}

.seats-row {
    display: flex;
}

.seats-container {
    /*max-width: 355px;*/
    margin: auto;
}

.seat-center-group {
    display: flex;
    margin: 0 60px;
}

.login-container {
    min-height: 100vh;
    background: url(../images/uploads/user-hero-bg.jpg);
}

.login-header-logo-container, .login-header-title-container {
    display: flex;
}

.login-header-logo, .login-header-title {
    margin: 0 auto 48px auto;
}

.login-header-title h1 {
    color: white;    
}

.multi-select {
    min-height: 70px
}

.general-select {
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    background-color: #233a50;
    border: none;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Firefox */
    background: url('../images/uploads/drop-icon.png') no-repeat right 20px center;
    background-color: #233a50;
}

.tabla-precios input {
    text-align: center;
}

.canjeos-puntos input {
    text-align: center;
}

.titulo-pelicula-ticket {
    font-size: 21px;
    font-weight: 700;
    color: white;
}

.mensaje-pdf{
    font-size: 25px;
    font-weight: 700;
}